[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/GitKit"]
	path = Submodules/GitKit
	url = https://github.com/macmade/GitKit.git
